.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red
}

.input {
    border: 1px solid red
}

.input:focus {
}

.errorInput {
    outline: 0;
    border: 1px solid red
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
